ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.corodape{
    background: #1D1E1B;
}

.fa{
    font-size: 3vh;
    color: white;
    padding: 0px;
}

.fa-github:hover{
    color:  gray;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}