ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.corodape{
    background: #494E5B;
}

.fa{
    font-size: 3vh;
    color: white;
    padding: 0px;
}

.fa-github:hover{
    color:  #171515;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}