@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

#img-bg{
    background-image: url('https://i.imgur.com/v1su1rC.jpg');

    margin: 0;
    padding: 0;
    
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fl{
    font-family: 'Rowdies', cursive;
}

.conteudo{
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: end;
}


.cancelar {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    color: gray;
  }
  
  .cancelar:hover {
    border-color: red;
    background: red;
    transform: scale(0.8);
    transition: all 0.3s ease;
    color: white;
  }
  
  .cadastrar {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
  }

  .cadastrar:hover {
    border-color: #0f0e0c;
    background: #0f0e0c;
    transform: scale(0.8);
    transition: all 0.3s ease;
    color: white;
  }