<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-3">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">

                    <h1 class="text-center fl">Fazer login</h1>

                    <div class="form-group mt-5">
                        <label class="fl" for="usuario">E-mail</label>
                        <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Seu e-mail">
                    </div>

                    <div class="form-group mb-5">
                        <label class="fl" for="senha">Senha</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha"
                        placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center mt-5 mb-5" id="buttom_logar">
                        <button type="submit" class="btn btn-outline-dark btn-lg mt-5 mb-5" (click)='entrar()'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
        
                    <hr class="mt-5 mb-5">
        
                    
                      <a class="conta criarconta fl" routerLink="/cadastrar">CRIAR CONTA</a>

                </div>

            </div>

        </div>

        <div class="col-md-9" id="img-bg">

        </div>

    </div>
</div>
