<div class="container">

  <div class="row pl d-flex align-items-center">
      <div class="col-md-6">

          <div class="row d-flex justify-content-center">
              <div class="col-md-6 text-white">
                <h4 class="fs-50">Olá, {{nome}}</h4>
                  <h3 class="fs-30">Seja bem vindo(a)!</h3>
                  <h5 class="fs-15">Compartilhe aqui os seus conhecimento e opniões!</h5>
              </div>
          </div>

          <div class="row d-flex justify-content-center mt-3 mb-5">
              <div class="col-md-6">
                  <button class="btn btn-light mr-2 postagem" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
              </div>
          </div>

      </div>

      
      
      <div class="col-md-6 d-flex justify-content-center">
          <img src="https://i.imgur.com/0f7DwNj.png" alt="" width="500px" height="500px">
      </div>
  </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

<ul
class="nav nav-tabs d-flex justify-content-center w-100"
id="myTab"
role="tablist"
>
<li class="nav-item" role="presentation">
  <a
    class="nav-link active text-secondary font-weight-bold"
    id="todasPostagens-tab"
    data-toggle="tab"
    href="#todasPostagens"
    role="tab"
    aria-controls="todasPostagens"
    aria-selected="true"
    >Todas as Postagens</a
  >
</li>
<li class="nav-item" role="presentation">
  <a
    (click)="findByIdUser()"
    class="nav-link text-secondary font-weight-bold"
    id="minhasPostagens-tab"
    data-toggle="tab"
    href="#minhasPostagens"
    role="tab"
    aria-controls="minhasPostagens"
    aria-selected="false"
    >Minhas Postagens</a
  >
</li>
<li class="nav-item" role="presentation">
  <a
    class="nav-link text-secondary font-weight-bold"
    id="postagensTema-tab"
    data-toggle="tab"
    href="#postagensTema"
    role="tab"
    aria-controls="postagensTema"
    aria-selected="false"
    >Postagens por tema</a
  >
</li>
</ul>


<div class="tab-content mt-5" id="nav-tabContent">
 <!-- !Inicio do todas as postagens -->
  <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
      <div class="row d-flex justify-content-center">
        <div *ngFor='let item of listaPostagens' class="card text-center w-25 mx-4 my-2 border border-dark">
          <div class="card-body">
            <h5 class="card-title m-0">{{ item.titulo }}</h5>
            <small class="text-muted"> Tema: {{ item.tema.descricao }}</small>
            <p class="card-text mt-3">{{ item.texto }}</p>
            <p class="card-text">
              <small class="text-muted">
                {{ item.date | date: 'dd/MM/yyyy' }} às
                {{ item.date | date: 'HH:mm' }}
              </small>
            </p>

            <p class="card-text">
              <small class="text-muted"> by: {{item.usuario.nome}} </small>
            </p>
          </div>
        </div>
      </div>
    </div>
 <!-- !Fim do todas as postagens -->
  
 <!-- ? inicio minhas postagens -->
 <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">


    <div class="card-columns">
      <div class="card text-center" *ngFor='let item of user.postagem'>
        <div class="card-body">
          <h5 class="card-title m-0">{{item.titulo}}</h5>
          <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
          <p class="card-text mt-3">{{item.texto}}</p>
          <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
            </small></p>

            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger mr-3" href="">Apagar</a>
            <a [routerLink]="['/postagem-edit', item.id]" class="text-secondary" href="">Editar</a>

        </div>
      </div>
    </div>

  </div>
<!-- ? inicio minhas postagens -->

 <!-- ! inicio postagens por tema  -->
  <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">

    <div *ngIf="listaPostagens.length != 0" class="row d-flex justify-content-center">
      <div class="col-md-4">

        <div class="form-group mb-5">
          <input type="text" class="form-control" id="titulo" placeholder="Digite um tema para pesquisar"
          [(ngModel)]="nomeTema" (keyup)="findbyNomeTema()">
        </div>

      </div>
    </div>

    <div class="card-columns" *ngFor='let tema of listaTemas'>
      <div class="card text-center" *ngFor='let item of tema.postagem'>
        <div class="card-body">
          <h5 class="card-title m-0">{{item.titulo}}</h5>
          <p class="card-text mt-3">{{item.texto}}</p>
          <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
            </small></p>

          <p class="card-text"><small class="text-muted">
              by: {{item.usuario.nome}}
            </small></p>

        </div>
      </div>
    </div>

  </div>
   <!-- ! inicio postagens por tema  -->

</div>

</div>



<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fl" id="exampleModalLabel">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      
      <div class="form-group">
          <label class="fl" for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label class="fl" for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3" placeholder="Escreva um texto"></textarea>
        </div>

        <div class="form-group">
          <label class="fl" for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}
            </option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn cancelar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn publicar" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>