.fl{
    font-family: 'Rowdies', cursive;
}

.cancelar {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    color: red;
}

.cancelar:hover {
    border-color: red;
    background: red;
    transform: scale(0.9);
    transition: all 0.3s ease;
    color: white;
}

.publicar {
    border-color: #0f0e0c;
    border-width: 2px;
    border-style: solid;
    color: #0f0e0c;
}

.publicar:hover {
    border-color: #0f0e0c;
    background: #0f0e0c;
    transform: scale(0.9);
    transition: all 0.3s ease;
    color: white;
}

.pl{
    background: #6C757D;
}

.postagem:hover{
    border-color: white;
    background: #6C757D;
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: white;
}

.tamanho{
    height: 70vh;
}